/* Variabbles */
$font-header: 'Krona One', sans-serif;
$font-logo: 'Molle', cursive;
$font-text: 'Tinos', serif;
/* Global */
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}
.container {
    max-width: 1140px;
    padding: 0 20px 0 20px;
    display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
/* Main section */
.page-head{
    background-image: url(https://images.pexels.com/photos/174524/pexels-photo-174524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

/* Navigation */
.navigation {
    padding: 12px 0 12px 0;
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-align: right;
        }

        }
        .logo {
            text-align: left;
            padding-top: 20px;
            margin-left: 40px;
            font-family: $font-logo;
            color: rgb(2, 2, 1);
            text-shadow: goldenrod;
            font-size: 30px;
        }
        li {
            display: inline-block;
            margin-right: 36px;
            position: relative;

        }
        a {
            color: rgb(0, 0, 0);
            font-family: $font-header;
        }
/* Splash */
.splash {
    min-height: 500px;
    display: flex;
        .page-title {
            margin: 0;
            font-size: 72px;
            font-weight: 700;
            line-height: 1.2;
            font-family: $font-header;
            text-align: center;
        }
        .page-subtitle {
            margin: 24px 0;
            font-weight: 400;
            font-size: 16px;
            font-family: $font-header;
            text-align: center;
        }
}
.splash-inner {
    margin: auto;
    max-width: 70%;
}
.button {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 20px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #070807;
    border: none;
    border-radius: 15px;
    width: 250px;
  }
  .button:hover {
      background-color: rgb(69, 70, 32)
    }
  .button:active {
    background-color: rgb(69, 70, 32);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    text-decoration: none;
  }
  /* Services */
  .services{
  .section-subtitle, .services-text {
      text-align: center;
  }
  i {
        font-size: 30px;
        justify-content: center;
  }
}


  